label{

     color: rgb(0, 0, 0);
    font-size: 1rem;
}

#encabezado{
    align-items: center;
}

.container{

    background-color: rgb(130, 150, 142);
    
}

#divLog{
    padding-top: 0;
    width: 6rem;

}

#imgLogWha{

    width: 1.5rem;
    height: 1.5rem;
    float: right;
}
#carro{
    display: block;
}

#floatingText{

    width: 30rem;
    height: 5px !important;
}

#divFormFloating{
    
}


// #divBus{

//     width: 50%;
//     display: flex;
//     align-items: center;
    
// }

// #inpBus{
//     width: 50%;
//     margin: 0 auto;
// }
// #lblBus{

//     margin-left: auto;
//     // margin: 0 auto;
   
// }

// #imgLogWha{

//     width: 1.5rem;
//     padding-right: 1rem;
// }

// #divNumWha{
    
//     width: 20%;
//     display: flex;
//     align-items: center;
// }

// #divCar{


// }