
<div class="container">

    <div class="row">
        <div class="col-sm">
          <img id="divLog" src="../../../assets/images/LogoTeoCommerce.jpg" alt="LogoPrincipal">
        </div> 
        <div class="col-sm form-floating">
          <input type="text" class="form-control" id="floatingText" placeholder="Buscar">
          <label for="floatingText">Buscar</label>
        </div>
        <div class="col-sm" id="imgws">
          <img id="imgLogWha" src="../../../assets/images/logoWhatsapp.png" alt="Icono Whatsapp">
        </div>
        <div class="col-sm" id="ws">
          <label for="Whatsapp" id="lblWha">+56 9 93173228</label>
        </div>
        <div class="col-sm" id="carro">
          <label for="Carro">Carro</label>
        </div>
    </div>
</div>



