label{

    color: rgb(0, 0, 0);
    font-size: 1rem;
}

#divPriEnc{

    display: flex;
    background-color: rgb(130, 150, 142);
    
    
}

#divLog{

    width: 10%;

}
#divBus{

    width: 50%;
    display: flex;
    align-items: center;
    
}

#inpBus{
    width: 50%;
    margin: 0 auto;
}
#lblBus{

    margin-left: auto;
    // margin: 0 auto;
   
}

#imgLogWha{

    width: 1.5rem;
    padding-right: 1rem;
}

#divNumWha{
    
    width: 20%;
    display: flex;
    align-items: center;
}

#divCar{


}